<div class="cookie-bar" style="display: none">
    <p class="pull-left">
        {{ cookie_consent_text }}
    </p>
    <div class="input-group-lg pull-right">
        <button onclick="cookieConsent.cookies.setCookieConsent()" id="accept-cookie" type="button" class="btn btn-success btn-lg btn-block"><i class="fa fa-fw fa-check"></i> {{ cookie_consent_got_it}}</button>
    </div>
</div>